<!-- Image Slider -->
<div class="container_12">
  <div id="slider" class="grid_12">
    <div class="slides_container">
      <div class="slide">
        <%= image_tag("assets101.png") %>
      </div>
      <div class="slide">
        <%= image_tag("sass.png") %>
      </div>
      <div class="slide">
        <%= image_tag("compass.png") %>
      </div>
      <div class="slide">
        <%= image_tag("base64.png") %>
      </div>
    </div>
    <a href="#" class="prev"><%= image_tag("arrow-prev.png", :alt => "Arrow Prev", :width => 24, :height => 43) %></a>
    <a href="#" class="next"><%= image_tag("arrow-next.png", :alt => "Arrow Next", :width => 24, :height => 43) %></a>
  </div>
  <div class="clear"></div>
</div>
<!-- End of Slider -->